<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        <h1>Din bilforsikring avtale!</h1> 
        <hr />
        <p>
          Noen teks.........   Avtale er send som PDF  .............
        </p>
    </div>
</body>
</html>
