@{
    ViewBag.Title = "Home Page";
}
<div class="jumbotron">
    <h1>Få tilbud på bilforsikring</h1>
    <p class="lead">Sammenlign tilbud på bilforsikring tilpasset deg og ditt behov. Du bestemmer selv hvilken dekning du ønsker.</p>
    <p><a href="@Url.Action("Prisberegning", "Kunders")" class="btn btn-primary btn-lg"><span>Go videre</span></a></p>
</div>

