USE [master]
GO
/****** Object:  Database [FAGSYSTEMDB]    Script Date: 10.12.2019 14.25.29 ******/
CREATE DATABASE [FAGSYSTEMDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'FAGSYSTEMDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\FAGSYSTEMDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'FAGSYSTEMDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\FAGSYSTEMDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [FAGSYSTEMDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [FAGSYSTEMDB]
GO
USE [FAGSYSTEMDB]
GO
/****** Object:  Table [dbo].[Avtaler]    Script Date: 10.12.2019 14.25.29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Avtaler](
	[Id] [uniqueidentifier] NOT NULL,
	[Avtalenummer] [nvarchar](256) NULL,
	[Status] [nvarchar](50) NULL,
	[KunderID] [nvarchar](50) NULL,
	[Updated] [datetime] NULL,
	[Created] [datetime] NULL,
 CONSTRAINT [PK_Avtaler_Id] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Kunder]    Script Date: 10.12.2019 14.25.29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Kunder](
	[Id] [uniqueidentifier] NOT NULL,
	[BilensRegistreringsNummer] [nvarchar](50) NULL,
	[PersonNummer] [nvarchar](50) NULL,
	[ForNavn] [nvarchar](250) NULL,
	[Etternavn] [nvarchar](250) NULL,
	[Email] [nvarchar](256) NULL,
	[Bonus] [nvarchar](250) NULL,
	[KundeNummer] [nvarchar](50) NULL,
	[AvtaleStatus] [nvarchar](50) NULL,
	[Created] [datetime] NULL,
	[Updated] [date] NULL,
 CONSTRAINT [PK_Kunder_Id] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Kunder] ADD  CONSTRAINT [DF_Kunder_Id]  DEFAULT (newsequentialid()) FOR [Id]
GO
USE [master]
GO
